Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

Answer

a=0              <!--a variable called a is created with a value of zero which has a global scope  -->
def b():         <!--a function called b() if defined without a parameter -->
    global a     <!--the variable a being referenced here is the global variable a  -->
    a=c(a)       <!--the value of a is equated to the output of a function c() with a as its parameter -->
def c(a)         <!--the funtion c() is defined with a parameter called a . a is local here  -->
    return a+2   <!--the functions returns a value a+2 where a is the parameter  -->

b()              <!-- the function b is called. Inside the function a=0.the function c(a) is called which return a+2
                      which makes the value of global a=2.  -->
b()              <!-- the function b is called again. Inside the function global a=2.the function c(a) is called which                       return a+2 which makes the value of a=4. -->  
b()              <!-- the function b is called again. Inside the function globala=4.the function c(a) is called which                       return a+2 which makes the value of a=6.  -->
a                <!-- the output prints the value of a which is 6

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [44]:
def fileLength(path):
    try:
        string=''
        temp=open(path).readlines()
        print(len(temp))
    except:
        print('File '+path+' not found')
n=int(input("Enter the number of testcases : "))
for x in range(n):
    path=input("Enter the name of the file : ")
    fileLength(path)

Enter the number of testcases : 2
Enter the name of the file : word.txt
856
Enter the name of the file : ord.txt
File ord.txt not found

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [61]:
class Marsupial:
    def __init__(self):
        self.list=[]
    def put_in_pouch(self,x):
        self.list.append(x)
    def pouch_contents(self):
        print(self.list)
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        super().__init__()
        self.x=x
        self.y=y
    def jump(self,x,y):
        self.x+=x
        self.y+=y
    def __str__(self):
         return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
        
k=Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [74]:
def collatz(x):
    if x==1:
        print(int(x))
        return x
    else:
        if x%2==0:
            print(int(x))
            return collatz(x/2)
        else:   
            print(int(x))
            return collatz(((3*x)+1))
n=int(input("Enter the number of testcases"))
for x in range(n):
    y=int(input("Enter the Input"))
    collatz(y)

Enter the number of testcases2
Enter the Input1
1
Enter the Input10
10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [88]:
def binary(x):
    if x>1:
        binary(int(x/2))
        print(int(x%2),end="")
    else:
        print(int(x),end="")
n=int(input("Enter the number of testcases"))
for x in range(n):
    y=int(input("\nEnter the Input"))
    binary(y)

Enter the number of testcases4

Enter the Input0
0
Enter the Input1
1
Enter the Input3
11
Enter the Input9
1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [107]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.i = 0
        self.head = False
    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and tag[1:].isdigit():
            self.head = True
            self.i = int(tag[1:]) - 1
    def handle_endtag(self, tag):
        if tag.startswith("h") and tag[1:].isdigit():
            self.head = False
    def handle_data(self, data):
        if self.head:
            temp = "  " * self.i
            print(f"{temp}{data.strip()}")

infile = open('w3c.txt')
content = infile.read()
h = HeadingParser()
h.feed(content)

W3C Mission
  Principles

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [120]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute("CREATE TABLE weather (Cityname text , Country text ,Season,temp float , rainfall float)")

In [122]:
cur.execute("INSERT INTO weather VALUES ('Afghanistan','Asia',652230,25500100,20343000)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5 )")

In [129]:
cur.execute('SELECT temp FROM weather;')
cur.fetchall()

[(25500100.0,),
 (24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [128]:
cur.execute('SELECT DISTINCT Cityname FROM weather;')
cur.fetchall()

[('Afghanistan',), ('Mumbai',), ('London',), ('Cairo',)]

In [132]:
cur.execute('SELECT * FROM weather WHERE Country = \'India\'')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [133]:
cur.execute('SELECT * FROM weather WHERE Season = \'Fall\'')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [135]:
cur.execute('SELECT Cityname, Country, Season FROM weather GROUP BY Cityname, Country, Season HAVING AVG(rainfall) BETWEEN 200 AND 400;')
cur.fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

In [137]:
cur.execute('SELECT Cityname, Country FROM weather WHERE Season = \'Fall\' GROUP BY Cityname, Country HAVING AVG(temp) > 20 ORDER BY AVG(temp) ASC;')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [140]:
cur.execute('SELECT SUM(rainfall)  FROM weather WHERE Cityname = \'Cairo\'')
cur.fetchall()

[(27.6,)]

In [143]:
cur.execute('SELECT Season, SUM(rainfall)  FROM weather GROUP BY Season;')
cur.fetchall()

[(652230, 20343000.0),
 ('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [144]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
upper_words = [word.upper() for word in words]
print(upper_words)
lower_words = [word.lower() for word in words]
print(lower_words)
word_lengths = [len(word) for word in words]
print(word_lengths)
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)
long_words = [word for word in words if len(word) >= 4]
print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']